# Managed by ansible
{% for mem in memory %}
{% if ram_total == 0 %}
{% if ansible_memtotal_mb > mem %}
{% set ram_total = mem %}

[client]
socket = /var/run/mysqld/mysqld.sock

[mysql]
syslog
user = root

[mysqld_safe]
syslog

[mysqld]
datadir = {{ datadir }}
tmpdir = {{ tmpdir }}
socket = {{ socket }}
user = mysql
bind-address = 0.0.0.0

slow_query_log = {{ enable_slow_query_log }}
slow_query_log_file = slow.log
log_slow_rate_limit = {{ log_slow_rate_limit }}
log_slow_verbosity = 'microtime,query_plan,innodb'
long_query_time = {{ long_query_time }}
log_error_verbosity = {{ log_error_verbosity }}
character-set-server = {{ character_set_server }}
max_connections = {{ max_connections }}
max_connect_errors = {{ max_connect_errors }}

query_cache_type = {{ query_cache_type }}
query_cache_size = {{ query_cache_size }}

tmp_table_size = {% if tmp_table_size is defined %}{{ tmp_table_size }}M{% else %}{{ (ram_total / 32)|int }}M{% endif %}  #1/32 total ram, default 16M
read_buffer_size = {{ read_buffer_size }}k # default 128k
thread_cache_size = {{ thread_cache_size }} # The default value is based on the following formula, capped to a limit of 100:8 + (max_connections / 100)
max_seeks_for_key = {{ max_seeks_for_key }}
max_heap_table_size = {% if max_heap_table_size is defined %}{{ max_heap_table_size }}M{% else %}{{ (ram_total / 64)|int }}M{% endif %} #1/64 total ram, default 16M
max_allowed_packet = {% if max_allowed_packet is defined %}{{ max_allowed_packet }}M{% else %}{{ (ram_total / 64)|int }}M{% endif %} #1/64 total ram
myisam_sort_buffer_size = {% if myisam_sort_buffer_size is defined %}{{ myisam_sort_buffer_size }}M{% else %}{{ (ram_total / 32)|int }}M{% endif %} #256M
key_buffer_size = {% if key_buffer_size is defined %}{{ key_buffer_size }}M{% else %}{{ (ram_total / 8)|int }}M{% endif %} # 1/8 of total ram, default

innodb_buffer_pool_size = {% if innodb_buffer_pool_size is defined %}{{ innodb_buffer_pool_size }}M{% else %}{{ (ram_total / 4)|int }}M{% endif %} #8      1/4 total ram

innodb_buffer_pool_instances = {{ innodb_buffer_pool_instances }}
innodb_log_file_size = {{ innodb_log_file_size }}M
innodb_log_files_in_group = {{ innodb_log_files_in_group }}
innodb_log_buffer_size = {{ innodb_log_buffer_size }}M
innodb_lock_wait_timeout = {{ innodb_lock_wait_timeout }}
innodb_flush_log_at_trx_commit = {{ innodb_flush_log_at_trx_commit }}
innodb_flush_method = {{ innodb_flush_method }}
innodb_file_per_table = {{ innodb_file_per_table }}
innodb_read_io_threads = {{ innodb_read_io_threads }}
innodb_write_io_threads = {{ innodb_write_io_threads }}
innodb_io_capacity = {{ innodb_io_capacity }}
innodb_thread_concurrency = {{ innodb_thread_concurrency }}
innodb_purge_threads = {{ innodb_purge_threads }}
innodb_stats_on_metadata = {{ innodb_stats_on_metadata }}
innodb_buffer_pool_dump_at_shutdown = {{ innodb_buffer_pool_dump_at_shutdown }}
innodb_buffer_pool_load_at_startup = {{ innodb_buffer_pool_load_at_startup }}
userstat = {{ userstat }}
log_bin_trust_function_creators = {{ log_bin_trust_function_creators }}

{% if use_gtid is sameas true %}
# enable GTID mode
gtid_mode = ON
enforce_gtid_consistency = ON
{% endif %}

# slave configuration
server-id = {{ mysql_server_id.stdout }}
relay-log = {{ relay_log }}
relay_log_info_repository = {{ relay_log_info_repository }}
master_info_repository = {{ master_info_repository }}
relay_log_recovery = {{ relay_log_recovery }}

# master configuration
binlog_format = {{ binlog_format }}
log-bin = {{ log_bin }}
expire_logs_days = {{ expire_logs_days }}
max_binlog_files = {{ max_binlog_files }}
sync_binlog = {{ sync_binlog }}
auto-increment-offset = {{ auto_increment_offset }}
auto-increment-increment = {{ auto_increment_increment }}

slave_parallel_type = {{ slave_parallel_type }}
slave_parallel_workers = {{ slave_parallel_workers }}
slave_preserve_commit_order = {{ slave_preserve_commit_order }}

skip-federated
default_storage_engine = {{ default_storage_engine }}
table_open_cache = {{ table_open_cache }}

sql-mode = {{ sql_mode }}

{% endif %}
{% endif %}
{% endfor %}
